allow privacy_service data_service_el1_file:file { ioctl };
allow privacy_service data_service_el1_file:file { relabelfrom };
allowxperm privacy_service data_service_el1_file:file ioctl 0xf50c;
